.headtitle {
    width:100%;
    height: 120px;
    position: relative;
  }
  .headtitle p {
    text-align: center;
    font-size: 50px;
    height: 100px;
    line-height: 100px;
  }
  .headtitle ul {
    width: 300px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
  }
  .headtitle ul li {
    width: 100px;
    height: 30px;
    float: left;
    border-bottom: 3px solid white;
    text-align: center;
    margin: 0 25px;
  }
  .headtitle ul li:hover {
    border-bottom: 3px solid coral;
  }
  .headtitle ul li a {
    text-decoration: none;
  }
  .headtitle ul li a:hover {
    color: coral;
  }
  .see1 {
    width: 100%;
    height: 2500px;
    background-color: #f7f7f7;
    position: relative;
  }
  .see1 .see_left {
    width: 600px;
    height: 2500px;
    position: absolute;
    left: 100px;
  }
  .see1 .see_left .baogaoul {
    list-style: none;
    width: 100%;
  }
  .see1 .see_left .baogaoul li {
    width: 600px;
    height: 450px;
    margin: 20px auto;
    float: left;
    position: relative;
  }
  .see1 .see_left .baogaoul li a {
    text-decoration: none;
  }
  .see1 .see_left .baogaoul li a img {
    width: 600px;
  }
  .see1 .see_left .baogaoul li a p {
    color: black;
  }
  .see1 .see_left .baogaoul li a .see_bottom {
    width: 100%;
    height: 30px;
    float: left;
    position: absolute;
    bottom: 0;
  }
  .see1 .see_left .baogaoul li a .see_bottom .ess_l {
    position: absolute;
    right: 80px;
  }
  .see1 .see_left .baogaoul li a .see_bottom .ess_r {
    width: 40px;
    position: absolute;
    right: 20px;
  }
  .see1 .see_right {
    width: 350px;
    height: 2000px;
    position: absolute;
    right: 100px;
    padding: 15px 10px;
  }
  .see1 .see_right .tiyan {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 20px auto;
    padding: 0 10px;
    font-size: 20px;
    border-left: 3px solid red;
  }
  .see1 .see_right img {
    width: 350px;
  }
  .see1 .see_right h2 {
    margin: 10px auto;
  }
  .see1 .see_right p {
    color: gray;
  }

