#out{
    width: 6500px;
    overflow: hidden;
}
#out>ul>li{
    float: left;
    width: 300px;
    margin:0 25px;
}
#out img,#ot img,#ott img,#otq img{
    width: 250px;
    height: 150px;
}
#out ul{
    overflow: hidden;
    font-size: 14px;
    font-family: "黑体";
    text-align: center;
}
.out_one{
    height: 35px;
}
#out>ul>li>span{
    display: inline-block;
    border:solid 1px #F75F4D;
    border-radius: 5px;
    color:#F75F4D;
    padding:2px 5px;
    font-size: 12px;
    margin:3px 0;
}
#out>ul>li>p:nth-child(5){
    color:#F75F4D;
}
#out>ul>li>p:nth-child(6){
    color:#F75F4D;
}
#out>ul>li>p>span{
    color:#000;
}
.try{
    font-family: "黑体";
    padding:20px 0;
    float:left;
}
.left,.right{
    font-size: 70px;
    position:absolute;
    top:20px;
    z-index: 99;
}
.left{
    left: 0;
}
.right{
    right: 0;
}
#ot,#ott,#otq{
    overflow: hidden;
    width: 1000px;
    margin:0 auto;
}
#otq{
    height:650px;
}
#ot>ul>li,#ott>ul>li,#otq>ul>li{
    float: left;
    height: 220px;
    margin:0 25px;
    overflow: hidden;
    width: 200px;
    font-size: 13px;
}
.tr{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.user{
    width: 100%;
    padding:10px 0;
    background:#F7F7F7;
}
.use{
    width: 100%;
    height: 215px;
    overflow: hidden;
    padding:10px 0;
    background:#ffffff;
}
.try2{
    padding:20px 0;
    float:right;
    color:#F75F4D;
}