.find{
    width: max-content;
    font-size: 50px;
    margin:20px auto;
}
.find_p>ul{
    width: max-content;
    margin:0 auto;
    overflow: hidden;
    /* padding-bottom:20px; */
}
.find_p>ul>li{
    font-size: 20px;
    color:gray;
    float:left;
    width: 140px;
    text-align: center;
}
#out{
    width: 100%;
    overflow: hidden;
    background:rgb(235, 233, 233);
}
#out ul{
    width: 1000px;
    height: 1000px;
    overflow: hidden;
    margin:0 auto;
}
#out li{
    width: 200px;
    height: 210px;
    margin:20px 25px;
    float:left;
    font-size: 15px;
}
#out img{
    width: 200px;
    height: 130px;
}
#out2{
    width: 100%;
    overflow: hidden;
    background:rgb(235, 233, 233);
}
#out2 ul{
    width: 1000px;
    height: 1250px;
    overflow: hidden;
    margin:0 auto;
}
#out2 li{
    width: 200px;
    height: 210px;
    margin:20px 25px;
    float:left;
    font-size: 15px;
}
#out2 img{
    width: 200px;
    height: 130px;
}
.find_p>ul>.change{
    color:#FA5431;
    border-bottom:#FA5431 solid;
}
.uls{
    margin-right: 10px;
    color:rgb(128, 128, 128);
    overflow: hidden;
}
.uls span:nth-child(5),.uls span:nth-child(4){
    float: right;
    margin-right: 10px;
}
.uls span:nth-child(3){
    color:#FA5431;
}
.uls p{
    margin-bottom: 10px;
}
.uls li{
    background:#fff;
}