.find{
    width: max-content;
    font-size: 50px;
    margin:20px auto;
}
.find_r>ul{
    width: max-content;
    margin:0 auto;
    overflow: hidden;
    padding-bottom:20px;
}
.find_r>ul>li{
    font-size: 20px;
    color:gray;
    float:left;
    width: 140px;
    text-align: center;
}
.find_t>ul>.change{
    color:#000000;
}
.find_t>ul{
    width: max-content;
    margin:0 auto;
    overflow: hidden;
    padding-bottom:20px;
}
.find_t>ul>li{
    font-size: 20px;
    color:gray;
    float:left;
    width: 140px;
    text-align: center;
}
#out{
    font-size: 12px;
    width: 100%;
    overflow: hidden;
    background:rgb(235, 233, 233);
}
#out ul,#out2 ul{
    width: 1250px;
    height: 870px;
    overflow: hidden;
    margin:0 auto;
}
#out li,#out2 li{
    width: 200px;
    height: 250px;
    margin:20px 50px;
    float:left;
    text-align: center;
    background:#fff;
}
#out img,#out2 img{
    width: 200px;
    height: 140px;
}
#out>ul>li>span,#out2>ul>li>span{
    display: inline-block;
    border-radius: 5px;
    padding:2px 5px;
    font-size: 12px;
    margin:3px 0;
}
.out_one{
    margin:10px 0;
}
.bcolor{
    border:solid 1px #FA5431;
}
.orcolor{
    color:#FA5431;
}
.black{
    color:#000;
}
.gcolor{
    color:#A2D491;
}
.gbcolor{
    border:solid 1px #A2D491;
}
.hcolor{
    color:#818181;
}
.hbcolor{
    border:solid 1px #818181;
}
.find_r>ul>.change{
    color:#FA5431;
    border-bottom:#FA5431 solid;
}