
#denglujs{
    width: 705px;
    height:335px;
    margin:0 auto;
    border-radius: 12px;
    background-color: rgb(255,255,255);
    z-index: 99;
    display: none;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
}
.two{
    width: 450px;
    height: 300px;
    border-right: 1px solid #ccc;
  
    float: left;
}
.three{
    width: 250px;
    height: 300px;

    float: right;
}
.jiguoone{
    font-size: 18px;
    position: relative;
    left: 58px;
    top: 11px;
}
.jiguotwo{
    width: 287px;
    height: 44px;
    border: 1px solid #ccc;
    border-radius: 6px;
    position: relative;
    margin-top: 18px;
    left: 15px;
    top: 11px;
}
.jiguo_{
    position: relative;
    left: 20px;
    top: 23px;
    font-size: 13px;
}
.jiguo_>.juguothree{
   width: 139px;
   height: 44px;
   border-radius: 27px;
   background-color: red;
   font-size: 16px;
   border: 1px solid red;
   color: rgb(255,255,255);
position: relative;
   left: 49px;
   top: 0px;
}
.jiguofive{
    font-size: 12px;
    position: relative;
    left: 21px;
    top: 30px;
}
.spantwo{
    position: relative;
    left: 156px;
    top: 0px;
}
.shejiaoone>img{
  width: 150px;
  height: 150px;
  position: relative;
  left: 53px;
  top: 20px;

}
.shejiao{
    font-size: 18px;
    position: relative;
    left: 52px;
    top: 15px;
}
#quxiao{
    width: 20px;
    height: 27px;
   position: absolute;
   top: 4px;
   right: 12px;
    
}
.three>ul{
    list-style: none;
    font-size: 14px;
 
}
.weibo{
    position: relative;
    top: 35px;
    left: 5px;
    height: 32px;
    line-height: 32px;
    
}
.shouji{
    position: relative;
    top:15px;
    left:105px;
    height: 32px;
    line-height: 32px;
    
}