*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
/* 头部 */
.head{
    margin: 0 auto;
    width: 1250px;
    height: 100px;
    position: relative;
    border-bottom: 2px solid rgb(207,194,194);
}
.head img{
    width: 100px;
    height: 50px;
    float: left;
    padding-left:100px;
    padding-top: 20px;
}
.page{
    list-style: none;
}
.page li{
    float: left;
    line-height: 100px;
    margin-left: 80px;
}
.page li:hover{
    color:coral;
}
.seek{
    width: 400px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.seek li{
    list-style: none;
}
.seek img{
    width: 20px;
    height: 20px;
}
.seek button{
    width: 50px;
    height: 20px;
    border: 1px solid rgb(226, 137, 21);
    background-color: white;
    color:coral;
    margin-top:18px;
    margin-left:30px;
}

/* 底部 */
.stern{
    width: 1250px;
    height: 300px;
    margin: 0 auto;
    background-color: #505050;
    padding-top: 30px;
    position: relative;
    font-family: "黑体";
}
.stern>img{
    position: absolute;
    left:160px;
}
.stern a{
    font-size: 12px;
    color:rgb(165, 164, 164);
    display: block;
}
.stern ul{
    overflow: hidden;
    float:right;
    position:absolute;
    left: 360px;
}
.stern>ul>li{
    float:left;
    margin-right:10px;
    width: 156px;
}
.stern>ul>li>p{
    color:#fff;
    margin-bottom: 20px;
}
.buttom{
    color:rgb(165, 164, 164);
    position:absolute;
    bottom: 20px;
    left: calc(50% - 100px);
}
.ku>a:nth-child(4){
    margin-top:20px;
}
.ku>img{
    margin-bottom:20px;
}
.stern>ul>li:nth-child(3)>div>a{
    display: inline-block;
}
.str_a{
    width: 70px;
}
.stern>ul>li:nth-child(2){
    width: 90px;
}
/* 展示大图 */
.title{
    background: url(./img/icon/original.jpg) -275px 0px no-repeat;
    width: 1250px;
    height: 300px;
    margin:0 auto;
    color:#fff;
    position:relative;
}
.title_page{
    position:absolute;
    right: 120px;
    top:40px;
    text-align: center;
}
.title_page>div:nth-child(1){
    font-size: 30px;
}
.title_page>div{
    margin:20px 0;
}
.title_page>div:nth-child(2)>span{
    background: rgba(255, 255, 255, 0.5);
    padding: 7px;
    font-size: 14px;
    margin:0 5px;
}
.title_page>button{
    width: 140px;
    height: 30px;
    border:none;
    background:red;
    color:#fff;
}